server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/animals?useSSL=false&serverTimezone=UTC
    username: root
    password: 12345678
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

app:
  cors:
    allowed-origins: "http://localhost:3000"